html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-size: 18px;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: Open400;

}
@font-face {
    font-family: "Open400";
    src: url(/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "Open700";
    src: url(/OpenSans-Bold.ttf);
}
@font-face {
    font-family: "Popp600";
    src: url(/Poppins-SemiBold.ttf);
}
header {
    width: 100%;
    overflow: hidden;
    top: 0;
    /* left: 0; */
    background: url();
    /* padding: 2.5% 3%; */
    /* margin-bottom: 5%; */
    background: url(./images/bg-hero-desktop.svg),
        hsla(193, 100%, 96%, 0.9);
    z-index: 1;
}
h1, h2{
    font-family: Popp600;
}
button{
    font-family: Open700;
}
main {
    width: 80%;
    margin: 5%;
}

.Head1 {
    width: 80%;
    top: 0;
    padding: 3%;
    display: flex;

}

.rightside{
    width: 10%;
}
.rightside button {
    border: 3px solid white;
    background-color: white;
    color: hsl(192, 100%, 9%);
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}

.Headb{
    margin-right: 0px;
    box-shadow: 0px 0px 5px 0px rgb(212, 210, 210);
}
.Head2 {
    height: 70%;
    width: 80%;
    margin: 1.5% 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lside, .rside {
    width: 40% 60%;
}

.rside img {
    /* display: block; */
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.lside{
    width: 70%;
    padding: 5%;
}
.lside h1{
    font-size: 25px;
    width: 100%;
    padding: 4% 0;
}
.lside p{
    font-size: 14px;
}
.Butt2 {
    background-color: hsl(322, 100%, 66%);
    font-size: 10px;
    padding: 10px 10px;
    margin: 10px 0;
    border: 3px solid hsl(322, 100%, 66%);
    color: white;
    border-radius: 20px;
    width: 50%;

}
.parts {
    padding: 3%;
    border-radius: 20px;
    display: flex;
    width: 100%;
    margin: 5%;
    box-shadow: 0px 0px 10px 0px rgb(212, 210, 210);
    height: 300px;
}
.parts h1{
    font-size: 18px;
    font-weight: 700;
}
.left1,
.right1 {
    width: 50%;
}

.left1 {
    justify-content: center;
    padding: 10%;
    display: block;
    max-width: 70%;
    max-height: 80%;
    padding: 7%;
    margin: auto;
}

.right1 img {
    display: block;
    max-width: 70%;
    max-height: 100%;
    padding: 7%;
    margin: auto;
}

.left2,
.right2 {
    width: 50%;
}

.right2 {
    justify-content: center;
    padding: 10%;
    display: block;
    max-width: 70%;
    max-height: 80%;
    padding: 7%;
    margin: auto;
}

.left2 img {
    display: block;
    max-width: 70%;
    max-height: 80%;
    padding: 7%;
    margin: auto;
}

.left3,
.right3 {
    width: 50%;
}

.left3 {
    justify-content: center;
    padding: 10%;
    display: block;
    max-width: 70%;
    max-height: 80%;
    padding: 7%;
    margin: auto;
}

.right3 img {
    display: block;
    max-width: 70%;
    max-height: 80%;
    padding: 7%;
    margin: auto;
}

.headdd {
    width: 100%;
}

.Head2 h1 {
    margin: 1%;
    width: 75%;
}

.parts.top{
    margin-top: 9%;
}

section {
    position: relative;
    margin-top: 20%;
    background-color: hsl(192, 100%, 9%);
    color: white;
    /* padding: 5%; */
    padding-top: 10%;
}
.extra {
    position: absolute;
    left: 27.5%;
    bottom: 80%;
    width: 45%;
    background-color: white;
    color: hsl(192, 100%, 9%);
    border-radius: 10px;
    text-align: center;
    margin-top: 10%;
    box-shadow: 0px 0px 10px 0px rgb(212, 210, 210);
    padding: 15px 30px;
}

.extra h2 {
    padding: 20px;
    padding-bottom: 5px;
}

.extra button {
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-size: 15px;
    text-align: center;
    border: 3px solid hsl(322, 100%, 66%);
    margin-top: 5px;
    padding: 15px 10px;
    margin: 20px;
    border-radius: 30px;
    width: 50%;
    box-shadow: 0px 0px 10px 0px rgb(212, 210, 210);

}

.extra button:hover {
    opacity: 0.7;
}

.huddicon svg {
    color: white;
}

.huddicon {
    padding-top: 3%;
    padding-left: 7% ;
}

.main {
    display: flex;

}

li {
    font-size: 15px;
    padding: 10px;
    color: white;
}

.one {
    width: 30%;
    margin:0 2%;
    display: block;
}

.two {
    width: 15%;
    /* margin: 0 5%; */
}

.three {
    width: 15%;
    /* margin: 0 5%; */
}

.four {
    width: 10%;
    margin: 0 5%;
}

/* .four ul {
    width: 100%;
} */
footer{
    
    background-color: hsl(192, 100%, 9%);
    color: white;
    text-align: right;

}
.smclass{
    padding: 3% 1%;
    font-family: Popp600;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
}

@media screen and (max-width : 560px) {
    body{
        width: 375px;

    }
    header{
        max-width: 100%;
        overflow: hidden;
        top: 30px;
        left: 0;
        background: url(./images/bg-hero-mobile.svg),
            hsla(193, 100%, 96%, 0.9);
    }
    .Head1{
        max-width: 100%;
        padding: 10% 5%;
    }
    .leftside img{
        width: 50%;
    }
    .rightside{
        width: 50%;
        justify-self: right;    
    }
    .rightside button {
        float: right;
        padding: 2px;
        border-radius: 20px;
        width: 100%;
    }
    
    .Head2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .lside{
        width: 90%;
        justify-content: center;
        align-items: center;
        padding: 2%;
    }
    .Head2 h1{
        text-align: center;
        margin: auto;
        width: 90%;
    }
    .lside p{
        text-align: center;
        padding: 2%;
        width: 90%;
        font-size: 16px;
    }
    .Butt2 {
        align-items: center;
        justify-content: center;
        margin: 5% 12%;
        background-color: hsl(322, 100%, 66%);
        font-size: 15px;
        padding: 10px 10px;
        color: white;
        border-radius: 20px;
        width: 70%;
        border-color: none;
    
    }
    .rside{
        width: 90%;
        padding: 2%;
        margin: 4%;
    }
    main{
        height: 100%;
        max-width: 100%;
        /* z-index: 1; */
    }
    .parts{
        display: inline-block;
        height: 500px;
    }
    .left1 {
        justify-content: center;
        padding: 5%;
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        text-align: center;
    }
    .left1 p{
        width: 100%;
        font-size: 13px;
        padding: 0;
    }
    .right1{
        justify-content: center;
        padding: 5%;
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        text-align: center;
    }
    section{
        margin-top: 50%;
        padding-top: 20%;
        margin: none;
        max-width: 100%;
        align-items: left;
    }
    .extra{
        height: 17%;
        margin: auto;
        overflow: auto;
        position: absolute;
        left: 7.5%;
        bottom: 94%;
        width: 70%;
        margin-top: 10%;

    }
    .extra h2{
        font-size: 15px;
        flex-wrap: nowrap;
        padding: 10px 0;
    }
    .extra button{
        width: 80%;
        font-size: 10px;
        padding: 7px 10px;
        margin: 5px;
        border-radius: 30px;
    
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .main ul{
        width: 100%;
        left: 0;
    }
    .main li{
        font-size: 15px;
        width: 100%;
        flex-wrap: nowrap;
    }
    .one{
        display: block;
        width: 90%;
        padding: 0;
        text-align: left;
        margin-left: 0;
    }
    .two{
        width: 90%;
        padding: 0;
        text-align: left;
        margin: auto;
        margin-left: 0;
    }
    .three{
        width: 90%;
        padding: 0;
        text-align: left;
        margin: auto;
        margin-left: 0;
    }
    .four{
        width: 50%;
        padding: 0;
        text-align: center;
        margin:0 25%;
    }
    footer{
        padding-bottom: 10%;
        max-width: 100%;
    }
    .smclass{
        /* padding: 10%; */
        font-family: Popp600;
        font-weight: 100;
        font-size: 15px;
        text-align: center;
    }
    
}